<!DOCTYPE html>
<html>
<head>
<title>Candra Gctk - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="css/style2.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="images/foto.jpg" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Candra Gctk</h1>
			<h2 class="quickFade delayThree">Mahasiswa</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e-mail: <a href="candragctk17@gmail.com" target="_blank">candragctk17@gmail.com</a></li>
				<li>blog: <a href="http://candragctk17.wordpress.com">candragctk17.wordpress.com</a></li>
				<li>hp: +62 8960 5697 228</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Siapa Saya</h1>
				</div>
				
				<div class="sectionContent">
					<p>Saya adalah mahasiswa biasa yang ingin meraih ilmu sebanyak mungkin di kota pelajar ini. Alasan saya mengikuti pelatihan tematik
					kali ini karena saya ingin mengembangkan kemampuan saya di bidang back-end Programming.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Pengalaman Organisasi</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Anggota KDC OmahTI</h2>
					<p class="subDetails">2015 - sekarang</p>
				</article>
				
				<article>
					<h2>Anggota Media Informasi BEMKM FMipa</h2>
					<p class="subDetails">2015 - sekarang</p>
				</article>				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Skill</h1>
			</div>		
			<div class="sectionContent">
				<ul class="keySkills">
					<li>SQL</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>R</li>
					<li>Python</li>
					<li>C++</li>
					<li>Java</li>
					<li>Anaconda</li>
					<li>Android</li>
					<li>Git</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Pendidikan</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Universitas Gadjah Mada</h2>
					<p class="subDetails">Ilmu Komputer 2015 - sekarang</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Tertarik pada bidang</h1>
			</div>
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Data Scientist</li>
					<li>iOS Development</li>
					<li>Game Development</li>
					<li>Fullstack website engineering</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Pencapaian</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Anggota KSK HIV</h2>
					<p class="subDetails">2015</p>
				</article>
				<article>
					<h2>Anggota KSK Sociopreneurship</h2>
					<p class="subDetails">2015</p>
				</article>
				<article>
					<h2>Koordinator perkap DifTalk</h2>
					<p class="subDetails">2015</p>
				</article>
				<article>
					<h2>Finalis Competitive Programming C-Compiler</h2>
					<p class="subDetails">2016</p>
				</article>
				<article>
					<h2>Anggota acara OmahTI Learning Center</h2>
					<p class="subDetails">2016</p>
				</article>
				<article>
					<h2>Pemandu Pascal</h2>
					<p class="subDetails">2016</p>
				</article>
				<article>
					<h2>Koordinator Perkap Crayon 9</h2>
					<p class="subDetails">2016</p>
				</article>
				<article>
					<h2>Finalis Hackathon Compfest UI</h2>
					<p class="subDetails">2016</p>
				</article>				
		
				<article>
					<h2>Finalis Bukalapak Programming contest</h2>
					<p class="subDetails">2016</p>
				</article>
				<article>
					<h2>Koordinator acara C-Compiler</h2>
					<p class="subDetails">2017</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>