<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profil Saya</title>
	<link href="css/style.css" rel='stylesheet' type='text/css'/>
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Accessible Profile Widget Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
			<script src="js/jquery.min.js"></script>
			<script>$(document).ready(function(c) {
			$('.alert-close').on('click', function(c){
				$('.main-agile').fadeOut('slow', function(c){
					$('.main-agile').remove();
				});
			});	  
		});
		</script>
</head>
<body>
	<h1>Kartu Pengenal</h1>
		<div class="main-agileits">
		<div class="right-wthree">
				<img src="images/Foto.jpg" alt="image" />
				<h2>Candra Gctk</h2>
				<p>Mahasiswa</p>
			</div>
			<div class="left-w3ls">
			<ul class="address">
													<li>
														<ul class="address-text">
															<li><b>No HP </b></li>
															<li>: +62 8960 5697 228</li>
														</ul>
													</li>
													<li>
														<ul class="address-text">
															<li><b>Instansi </b></li>
															<li><a href="ugm.ac.id"></a>: Universitas Gadjah Mada </a></li>
														</ul>
													</li>
													<li>
														<ul class="address-text">
															<li><b>Jurusan </b></li>
															<li>: Ilmu Komputer</li>
														</ul>
													</li>
													<li>
														<ul class="address-text">
															<li><b>Angkatan </b></li>
															<li>: 2015</li>
														</ul>
													</li>
												</ul>
				
				<div class="button">
					<a href="cv.html" >Click untuk melihat CV</a>
				</div>
	<!-- //pop-up-box -->
					<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
					<script>
					$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
					});

					});
					</script>

			</div>
			
			<div class="clear"></div>
		</div>
	<footer>
	</footer>
</body>
</html>